<div class="special">
    <h2 id="select-product-tittle"><strong>Offers For
            You</strong></h2>
</div>
<div class="card-container">
    <div class="card"> <img src="https://encrypted-tbn1.gstatic.com/shopping?q=tbn:
    ANd9GcSIhbIFNTWDHxL422Yl1gqulcgajssIX0-IZKFnrJi3wqyXIDvu6nsGu7qm3IIUj
    zkKXJg9JbWdjrm7cof072xFttkr7XyWEmDWGijTu3Q2CgXyhbJvQyIz6g" alt="no_img" />
        <h6>Horlicks 450g pouch</h6> <br />
        <div class="item-details">
            <h6>MRP</h6>
            <h6>Rate</h6>
            <h6>Margin</h6>
        </div>
        <div class="item-detailss">
            <h6 style="margin-left: -4px">₹ 500</h6>
            <h6>₹450</h6>
            <h6 style="margin-left: 11px">12%</h6>
        </div>
        <button class="btn-primary">Add to cart</button>
    </div>
    <div class="card"> <img src="https://encrypted-tbn1.gstatic.com/shopping?q=tbn:
    ANd9GcSIhbIFNTWDHxL422Yl1gqulcgajssIX0-IZKFnrJi3wqyXIDvu6nsGu7qm3IIUj
    zkKXJg9JbWdjrm7cof072xFttkr7XyWEmDWGijTu3Q2CgXyhbJvQyIz6g" alt="no_img" />
        <h6>Horlicks 450g pouch</h6> <br />
        <div class="item-details">
            <h6>MRP</h6>
            <h6>Rate</h6>
            <h6>Margin</h6>
        </div>
        <div class="item-detailss">
            <h6 style="margin-left: -4px">₹ 500</h6>
            <h6>₹450</h6>
            <h6 style="margin-left: 11px">12%</h6>
        </div>
        <button class="btn-primary">Add to cart</button>
    </div>
    <div class="card"> <img src="https://encrypted-tbn1.gstatic.com/shopping?q=tbn:
    ANd9GcSIhbIFNTWDHxL422Yl1gqulcgajssIX0-IZKFnrJi3wqyXIDvu6nsGu7qm3IIUj
    zkKXJg9JbWdjrm7cof072xFttkr7XyWEmDWGijTu3Q2CgXyhbJvQyIz6g" alt="no_img" />
        <h6>Horlicks 450g pouch</h6> <br />
        <div class="item-details">
            <h6>MRP</h6>
            <h6>Rate</h6>
            <h6>Margin</h6>
        </div>
        <div class="item-detailss">
            <h6 style="margin-left: -4px">₹ 500</h6>
            <h6>₹450</h6>
            <h6 style="margin-left: 11px">12%</h6>
        </div>
        <button class="btn-primary">Add to cart</button>
    </div>
    <div class="card"> <img src="https://encrypted-tbn1.gstatic.com/shopping?q=tbn:
    ANd9GcSIhbIFNTWDHxL422Yl1gqulcgajssIX0-IZKFnrJi3wqyXIDvu6nsGu7qm3IIUj
    zkKXJg9JbWdjrm7cof072xFttkr7XyWEmDWGijTu3Q2CgXyhbJvQyIz6g" alt="no_img" />
        <h6>Horlicks 450g pouch</h6> <br />
        <div class="item-details">
            <h6>MRP</h6>
            <h6>Rate</h6>
            <h6>Margin</h6>
        </div>
        <div class="item-detailss">
            <h6 style="margin-left: -4px">₹ 500</h6>
            <h6>₹450</h6>
            <h6 style="margin-left: 11px">12%</h6>
        </div>
        <button class="btn-primary">Add to cart</button>
    </div>
</div>