<div class="wrapper">
    <div class="card item"> <img src="https://tse4.mm.bing.net/th?id=OIP.Wsof7jVA7bcO0T94uhj_HQHaC3&pid=Api&P=0&h=180" alt="no_img">
        <h6>Fmcg</h6>
    </div>
    <div class="card item"> <img src="https://tse4.mm.bing.net/th?id=OIP.Wsof7jVA7bcO0T94uhj_HQHaC3&pid=Api&P=0&h=180" alt="no_img">
        <h6>Fmcg</h6>
    </div>
    <div class="card item"> <img src="https://tse4.mm.bing.net/th?id=OIP.Wsof7jVA7bcO0T94uhj_HQHaC3&pid=Api&P=0&h=180" alt="no_img">
        <h6>Fmcg</h6>
    </div>
    <div class="card item"> <img src="https://tse4.mm.bing.net/th?id=OIP.Wsof7jVA7bcO0T94uhj_HQHaC3&pid=Api&P=0&h=180" alt="no_img">
        <h6>Fmcg</h6>
    </div>
    <div class="card item"> <img src="https://tse4.mm.bing.net/th?id=OIP.Wsof7jVA7bcO0T94uhj_HQHaC3&pid=Api&P=0&h=180" alt="no_img">
        <h6>Fmcg</h6>
    </div>
</div>