* {
    margin: 0;
    padding: 0;
    box-sizing:
        border-box;
    color: rgb(5, 247, 9);
}

body {
    font-family: Arial, sans-serif;
    background-color:
        #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.search-container {
    margin-top: -43px;
    margin-left: 70px;
    position: relative;
    z-index: 4;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 30px;
    padding: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 153px;
}

h3 {
    margin-top: 12px;
    text-align:
        center;
    text-decoration: underline;
}

.search-input {
    border: none;
    outline: none;
    padding: 7px;
    border-radius: 30px;
    width: 155px;
    font-size: 16px;
    display: flex;
    flex-direction: right;
    background-color: rgb(249, 244, 244);
}

.search-input::placeholder {
    color: #0af01d;
}

.search-btn {
    background-color: pink;
    border: none;
    border-radius: 60%;
    margin-top: 2px;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
    margin-left: -40px;
}

.search-btn:hover {
    background-color: #45a049;
}

.search-icon {
    color: white;
    font-size: 18px;
}

.search-btn:focus {
    outline:
        none;
}

/* items added for div under card from sepcial product component css */
#select-product-tittle {
    text-align: center;
    font-size: large;
}

@media (max-width: 768px) {
    .card {
        flex: 0 0 100%;
    }

    .card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: 1px;
        margin-right: 1px;
    }

    .card {
        flex: 0 0 48%;
        margin-bottom: 8px;
        background-color: white;
        padding: 10px;
        box-sizing: border-box;
        border-radius: 10px;
        box-shadow: 2px 3px;
    }

    h6 {
        margin-left: -3px;
        margin-top: 5px;
        font-size: 10px;
        font-weight:
            700;
    }

    .item-details {
        margin-top: -28px;
        display: flex;
        flex-direction: row;
        gap: 19px;
    }

    .item-detailss {
        margin-top: -8px;
        display: flex;
        flex-direction: row;
        gap: 14px;
    }

    button {
        border-radius: 25px;
    }
}